#pilih {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  color: #212529;
}

.dark-mode #pilih {
  color: #c7c7c7;
}

#atas {
  margin-bottom: 5rem;
}

body {
  background-color: #f1f1f1;
}

/* Tabel Skor */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table thead {
  background-color: #f9f9f9;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  font-weight: bold;
  color: #333;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

span {
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: #333;
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
}
